<br>

<div class="container center-buttons">
  <button class="btn btn-primary ml-2" (click)="previousPage()" [disabled]="currentPage === 0">Pagina precedente</button>
  <button class="btn btn-primary ml-2" (click)="nextPage()" [disabled]="currentPage === totalPages - 1">Pagina successiva</button>
</div>

<br>


<div class="container">

  <div *ngFor="let alarm of getComponentiPaginaCorrente()">

    <div class="card-header custom-card-header">
      ALLARME
    </div>

    <div class="card-body custom-card-body">
      <h5 class="card-title">Allarme macchina {{ alarm.idMacchinario }}</h5>
      <p class="card-text"> <strong>Tipologia:</strong> {{ alarm.tipologia }} </p>
      <p class="card-text"> <strong>Valore:</strong> {{ alarm.valore }} </p>
      <p class="card-text"> <strong>Range ottimale:</strong> {{ alarm.range }} </p>
      <p class="card-text"> <strong>Timestamp:</strong> {{ alarm.timestamp }} </p>
    </div>

    <br>

  </div>

</div>



