.custom-card-body {
  background-color: rgba(250, 87, 87, 0.84);
  color: #333;
}

.custom-card-header {
  background-color: rgba(248, 15, 15, 0.84);
  color: #000000;
}

.center-buttons {
  display: flex;
  justify-content: center;
}



