<br>

<div class="container">
    <div class="card-header">
      Informazioni macchinario
    </div>
    <div class="card-body">
      <h5 class="card-title">Macchinario: {{ saw?.idMacchinario }}</h5>
      <p class="card-text"><strong>Tensione lama:</strong> {{ saw?.tensione }} psi [1400-1500]</p>
      <p class="card-text"><strong>Allineamento lama:</strong> {{ saw?.allineamento }} mm [0.025-0.05]</p>
      <p class="card-text"><strong>Velocità di avanzamento:</strong> {{ saw?.avanzamento }} m/minuto [50-60]</p>
      <p class="card-text"><strong>Velocità di rotazione:</strong> {{ saw?.rotazione }} m/minuto [300-400]</p>
      <p class="card-text"><strong>Livello di lubrificante:</strong> {{ saw?.lubrificante }} % [> 30]</p>
      <p class="card-text"><strong>Potenza:</strong> {{ saw?.potenza }} W</p>
    </div>
  <br>
</div>


