<br>

<div class="container">
  <div class="card" >
    <div class="card-header">
      Informazioni macchinario
    </div>
    <div class="card-body">
      <h5 class="card-title">Macchinario: {{ lathe?.idMacchinario }}</h5>
      <p class="card-text"><strong>Allineamento:</strong> {{ lathe?.allineamento }} mm [±0.025-0.05]</p>
      <p class="card-text"><strong>Vibrazioni:</strong> {{ lathe?.vibrazioni }} mm/s [0,1-2,0]</p>
      <p class="card-text"><strong>Velocità di rotazione:</strong> {{ lathe?.rotazione }} giri/minuto [1500-1600]</p>
      <p class="card-text"><strong>Livello di lubrificante:</strong> {{ lathe?.lubrificante }} % [> 30]</p>
      <p class="card-text"><strong>Potenza:</strong> {{ lathe?.potenza }} W [7000-7500]</p>
    </div>
  </div>
  <br>
</div>



